<form method="POST" action="/users">
    <h3>Add New User</h3>
  <p>New User Name: <input type="text" name="name"></p>
  <p>New User Salutation: <input type="text" name="salutation"></p>
  <p>New User Email: <input type="text" name="email"></p>
  <input type="submit">
</form>